/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

table {
  border-collapse: separate;
  border-spacing: 0;
}

td,
th {
  border: solid 1px #000;
  border-style: none solid solid none;
}

tr:first-child th:first-child {
  border-top-left-radius: 0.25rem;
}
tr:first-child th:last-child {
  border-top-right-radius: 0.25rem;
}
tr:last-child td:first-child {
  border-bottom-left-radius: 0.25rem;
}
tr:last-child td:last-child {
  border-bottom-right-radius: 0.25rem;
}
tr:first-child th {
  border-top-style: solid;
}
tr th:first-child {
  border-left-style: solid;
}
tr td:first-child {
  border-left-style: solid;
}
